[Desktop Entry]
Name=Bino
GenericName=3D video player
GenericName[de]=3D Videospieler
GenericName[fr]=Lecteur vidéo 3D
GenericName[pl]=Odtwarzacz 3D
GenericName[ru]=3D видео плеер
Icon=bino
Categories=AudioVideo;Player;Video;
Type=Application
Exec=bino %u
StartupNotify=true
Terminal=false
MimeType=application/ogg;application/x-matroska;application/x-ogg;video/flv;video/mp4;video/mpeg;video/msvideo;video/ogg;video/quicktime;video/vivo;video/vnd.divx;video/vnd.rn-realvideo;video/vnd.vivo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flic;video/x-flv;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-ms-asf;video/x-ms-asx;video/x-msvideo;video/x-ms-wm;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvx;video/x-nsv;video/x-ogm+ogg;video/x-theora+ogg;video/x-totem-stream;
